.lead__background-image{
    max-width: 984px;
    min-height: 200px;
    background-color: black;
    mix-blend-mode: luminosity;
}

.lead__background-image:hover{
    opacity: 0.3;
}

@media screen and (max-width: 984px) {
    .lead__background-image{
        max-width: 756.45px;
    } 
}

@media screen and (max-width: 768px){
    .lead__background-image{
        max-width: 100%;
    }
}


