.lead__background-image{
    width: 76.875vw;
    min-height: 200px;
    background-color: black;
    mix-blend-mode: luminosity;
}

@media screen and (max-width: 1280px){
    .lead__background-image{
        width: 984px;
    }
}

@media screen and (max-width: 984px) {
    .lead__background-image{
        width: 756.45px;
    } 
}

@media screen and (max-width: 768px){
    .lead__background-image{
        width: 100%;
    }
}


