.gallery-grid{
    max-width: 92.5vw;
    margin: 0 auto;
    padding: 0 0 7.1875vw 0;
    display: grid;
    gap: 1.25vw;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 804px) {
    .gallery-grid{
        max-width: 93.75vw;
        padding-bottom: 11.45833vw;
        gap: 2.0833vw;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .gallery-grid{
        min-width: 288px;
        padding: 0 16px 62px;
        gap: 12px;
        grid-template-columns: repeat(1, 1fr);
    }
}