.button-link__text{
    display: block;
    padding: 1.015625vw 1.5625vw;
    font-weight: 600;
    font-size: 1.40625vw;
    line-height: 1.22;
    color: white;
    text-decoration: none;
    grid-area: button;
}

@media screen and (max-width: 1280px) {
    .button-link__text{
        padding: 13px 20px;
        font-size: 18px;
    }    
}

@media screen and (max-width: 320px){
    .button-link__text{
        padding: 13px 40px;
        font-size: 18px;
        line-height: 1.22;
    } 
}