.button-link__text{
    padding: 13px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    display: block;
    color: white;
    text-decoration: none;
    grid-area: button;
}

@media screen and (max-width: 320px){
    .button-link__text{
        padding: 13px 40px;
        font-size: 18px;
        line-height: 1.22;
    } 
}