.button-link{
    max-width: 248px;
    height: 48px;
    border-radius: 4px;
    background-color: #0278FE;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: button;
}

.button-link:hover{
    background-color: #0063D2;
}

@media screen and (max-width: 320px){
    .button-link{
        min-width: 90%;
        margin: 0 16px;
    }
}

