.button-link{
    max-width: 19.375vw;
    border-radius: 4px;
    background-color: #0278FE;
    text-align: center;
    grid-area: button;
}

.button-link:hover{
    background-color: #0063D2;
}

@media screen and (max-width: 1280px) {
    .button-link{
        max-width: 248px;
    }
}

@media screen and (max-width: 320px){
    .button-link{
        min-width: 90%;
        height: 48px;
        margin: 0 16px;
    }
}

