.button-link_size_small{
    position: inherit;
    width: 137px;
    height: 48px;
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
    .button-link_size_small{
        margin-top: 4.166vw;
    }
}

@media screen and (max-width: 320px) {
    .button-link_size_small{
        margin-top: 16px;
    }
}