.button-link_size_small{
    max-width: 137px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .button-link_size_small{
        max-width: 17.8385416vw;
    }
}

@media screen and (max-width: 320px) {
    .button-link_size_small{
        min-width: 137px;
    }
}