.footer__author{
    max-width: 12.1875vw;
    margin: 7.1875vw auto 0;
    padding-bottom: 1.875vw;
    font-size: 1.09375vw;
    line-height: 1.143;
    align-self: center;
}

@media screen and (max-width: 1280px) {
    .footer__author{
        max-width: 165px;
        margin-top: 92px;
        padding-bottom: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .footer__author{
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px){
    .footer__author{
        margin-top: 64px;
        line-height: 1;
    }
}