.footer__author{
    max-width: 156px;
    max-height: 16px;
    margin: 92px auto 0;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 1.143;
    align-self: center;
}

@media screen and (max-width: 768px){
    .footer__author{
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px){
    .footer__author{
        margin-top: 64px;
        line-height: 1;
    }
}