.lead__title{
    max-width: 61.953125vw;
    margin: 7.031125vw 0 0 0;
    font-weight: 900;
    font-size: 7.5vw;
    line-height: 1.042;
    text-align: center;
    
}

@media screen and (max-width: 1280px){
    .lead__title{
        max-width: 793px;
        margin-top: 90px;
        font-size: 96px;
    }
}

@media screen and (max-width: 768px){
    .lead__title{
        max-width: 93.75vw;
        margin-top: 11.71875vw;
        font-size: 12.5vw;
        line-height: 13vw;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
        min-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-top: 50.15px;
    }
}