.footer__paragraph{
    width: 280px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 320px) {
    .footer__paragraph{
        font-size: 14px;
        line-height: 1.143;
    }
}