.gallery-grid__image{
    width: 22.1875vw;
    margin: 0;
}

@media screen and (max-width: 804px) {
    .gallery-grid__image{
       width: 45.833vw;
    }
}

@media screen and (max-width: 320px) {
    .gallery-grid__image{
        min-width: 100%;
    }
}