.place__artist{
    max-width: 35.625vw;
    grid-area: artist;
    align-self: flex-end;
}

@media screen and (max-width: 1280px) {
    .place__artist-title{
        max-width: 456px;
    }
}

@media screen and (max-width: 804px) {
    .place__artist{
        max-width: 316px;
    }
    
}

@media screen and (max-width: 320px){
    .place__artist{
        min-width: 288px;
        margin: 0 16px;
    }
}